<%= form_tag({ controller: "photos", action: "index" }, method: :get, class: "flex items-center justify-center") do %>
 <%= text_field_tag :search, '', class: "search-input px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500" %>
 <button class="btn ml-2 px-4 py-2 bg-neutral text-neutral-content rounded-md border-none">検索</button>
<% end %>
