*{
  margin: 0;
  padding: 0;
}
body {
  background: rgb(228, 217, 180);
}
.img {
  margin: 10px;
}
.image-container{
  display: flex;
}
.front-image{
  width: 25%;
}
.photo-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.search-container{
  padding: 20px;             
  text-align:  center;        
  height: 100px;         
}
.search-container h2{
  margin-top: 20px;
}
.search{
  width: 200px;
  height: 35px;
  border-radius:2px;
  margin:  0 auto; 
  font-weight: normal;
  font-size: 20px;
}
#sbtn5{
  width: 100px;
  border-radius:2px;
  background:#7fbfff;
  color:#fff;
  font-weight:bold;
  font-size:20px;
  border:none;
  transition: all 0.3s;
}
#sbtn5:hover{
  background: white;
  color: #7fbfff;
  border: 1px solid #000000;
}
.search-result{
  text-align: center;
  margin-top: 20px;
  padding-top: 30px;
}
.box{
  width: 100%;
}
.today{
  color: black;
  display:inline-block;
  text-decoration: none;
  text-align: center;
  margin-left: 10px;
  padding: 7px;
  background-color: #7fbfff; 
  border-radius: 5px; 
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.today:hover{
  background-color: white; 
  border: 1px solid #000000;
}
.button_to {
  display: inline-block;
}